a:hover {
    opacity: 0.7;
}

#reset-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

#convert-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.type:hover {
    opacity: 0.7;
    cursor: pointer;
}

#icon-github:hover {
    opacity: 0.7;
}

#error {
    width: 500px;
    margin: 20px auto 0 auto;
}

#description {
    width: 250px;
}

#contacts {
    width: 250px;
    text-align: left;
    margin: 30px auto 30px auto;
}