#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a:hover {
    opacity: 0.7;
}

#form-button input:hover {
    opacity: 0.7;
    cursor: pointer;
}

.type:hover {
    opacity: 0.7;
    cursor: pointer;
}

#icon-github:hover {
    opacity: 0.7;
}

#error {
    width: 500px;
    margin: 20px auto 0 auto;
}

#description {
    position: absolute;
    bottom: 150px;
    right: 20px;
    width: 250px;
}

#footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 250px;
    background-color: #FFFFFF;
    text-align: left;
    margin: 30px 10px 30px 10px;
    font-size: 10pt;
}