a:hover {
    opacity: 0.7;
}

#reset-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

#convert-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.standard:hover {
    opacity: 0.7;
    cursor: pointer;
}

#icon-github:hover {
    opacity: 0.7;
}

#error {
    width: 500px;
    margin: 20px auto 0 auto;
}

#description {
    width: 250px;
}

#contacts {
    width: 250px;
    text-align: left;
    margin: 30px auto 30px auto;
}

#tips {
    display: block;
    font-size: 11pt;
    width: 200px;
    position: fixed;
    right: 100px;
    top: 100px;
    color: #34495e;
}

#tips-header {
    cursor: pointer;
    color: #f39c12;
}

#tips-header:hover {
    opacity: 0.7;
}

.tips-faces {
    width: 20px;
    fill: #f39c12;
}

#tips-close {
    display: none;
}