body {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    text-align: center;
    font-size: 24pt;
    color: #34495e;
}

#icon-arrows {
    width: 24px;
    margin: 0 0 -5px 0;
    fill: #34495e;
}

#types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px 0;
}

#types a {
    text-decoration: none;
}

.type {
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin: 3px;
    padding: 2px;
    width: 80px;
}

.type-value {
    margin: 0;
    font-size: 7pt;
    text-align: center;
    color: #bdc3c7;
    font-family: "Lucida Console", Monaco, monospace;
}

.type-name {
    margin: 0;
    font-size: 12pt;
    text-align: center;
    color: #95a5a6;
}

#form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.form-input {
    align-self: center;
    width: 250px;
}

.form-input input {
    width: 200px;
    height: 30px;
    border: 1px solid #3498db;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    padding: 5px 10px 5px 10px;
    font-size: 16pt;
    color: #34495e;
    font-family: "Lucida Console", Monaco, monospace;
}

.measure {
    margin: 0 0 0 -60px;
    font-size: 10pt;
    width: 100px;
    color: #3498db;
}

#form-button {
    align-self: center;
}

#form-button input {
    width: 150px;
    height: 50px;
    margin: 20px 0 0 0;
    font-size: 18pt;
    border: 1px solid #f39c12;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: #f39c12;
    font-family: Verdana, Geneva, sans-serif;
}

#error {
    border: 1px solid #ff7675;
    border-radius: 10px;
    margin: 20px 10px 0 10px;
    padding: 10px;
    color: #ff7675;
}

#description {
    margin: 30px 10px 30px 10px;
    font-size: 10pt;
    color: #34495e;
}

a {
    color: #2980b9;
}

#footer {
    background-color: #bdc3c7;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #2c3e50;
}

#icon-github {
    width: 36px;
    margin: 5px;
    fill: #2c3e50;
}

.footer-p {
    margin: 2px 0 2px 0;
}