.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "type type"
        "measure input"
        "button button"
        "description description"
        "footer footer";
}

#item-header {
    grid-area: header;
}

.item-type {
    grid-area: type;
}

.item-measure {
    grid-area: measure;
}

.item-input {
    grid-area: input;
}

#item-button {
    grid-area: button;
}

#item-description {
    grid-area: description;
}

#item-footer {
    grid-area: footer;
}