body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    text-align: center;
    font-size: 24pt;
}

#icon-arrows {
    width: 24px;
    margin: 0 0 -5px 0;
}

#types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px 0;
}

.type {
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 2px;
    width: 80px;
}

.type-value {
    margin: 0;
    font-size: 8pt;
    text-align: right;
}

.type-name {
    margin: 0;
    font-size: 12pt;
    text-align: center;
}

.icon-type {
    width: 15px;
    position: absolute;
    margin: -8px 0 0 70px;
    fill: black;
}

#form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.form-input {
    align-self: center;
    width: 250px;
}

.form-input input {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    padding: 5px 10px 5px 10px;
    font-size: 16pt;
}

.measure {
    margin: 0 0 0 -60px;
    font-size: 10pt;
    width: 100px;
}

#form-button {
    align-self: center;
}

#form-button input {
    width: 150px;
    height: 50px;
    margin: 20px 0 0 0;
    font-size: 20pt;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

#description {
    margin: 20px 10px 20px 10px;
    font-size: 10pt;
}

#icon-note {
    width: 12pt;
}

#footer {
    background-color: gray;
    text-align: center;
    padding: 10px 0 10px 0;
}

#icon-github {
    width: 48px;
    margin: 5px;
    fill: black;
}

.footer-p {
    margin: 2px 0 2px 0;
}